modelscope
jupyter
typing
llama-index
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-llms-huggingface
llama-index-retrievers-bm25
llama-index-callbacks-opik
bm25s
jieba
nltk
opik
openai
pandas
sentence-transformers
scikit-learn
tqdm
matplotlib
numpy==1.26.4